// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left-block {
	width: 40%;
	display: inline-block;
}
.middle-block {
	width: 30%;
	left: 40%;
	display: inline-block;
  .yellow {
  	color:green;
		font-size:38px;
  }
	.message {
		margin-left:-15px;
	}
}
.right-block { 
	width: 30%;
	left: 70%;
	display: inline-block;
}

